1. String Method
2. Set Data Structure

In [8]:
name='Vinay'

In [12]:
print(name[0])
print(name[1])
print(name[-1])

V
i
y

In [16]:
name.upper()

'VINAY'

In [22]:
name.lower()

'vinay'

In [26]:
name='My name is Dhairya       '
print(name)
name1=name.strip()
print(name1)

My name is Dhairya
My name is Dhairya

In [30]:
name='My name is Dhairya !!!!!!!!'
print(name)
name1=name.rstrip('!')
print(name1)

My name is Dhairya !!!!!!!!
My name is Dhairya

In [34]:
name='My name is Dhairya1111111'
print(name)
name1=name.rstrip('1')
print(name1)

My name is Dhairya1111111
My name is Dhairya

In [38]:
name='!!!!!!!My name is Dhairya !!!!!!!!'
print(name)
name1=name.rstrip('!')
print(name1)

!!!!!!!My name is Dhairya !!!!!!!!
!!!!!!!My name is Dhairya

***replace()***

In [43]:
name='!!!!!!!!!My name is Dhairya !!!!!!!!'
print(name)
name1=name.replace('!','')
print(name1)

!!!!!!!!!My name is Dhairya !!!!!!!!
My name is Dhairya

In [53]:
name='@@@@@My name is Dhairya !!!!!!!!'
print(name)
name1=name.replace('!','')
name1=name1.replace('@','')
print(name1)

name2=name.replace('!','').replace('@','').strip()
print(name2)

@@@@@My name is Dhairya !!!!!!!!
My name is Dhairya
My name is Dhairya

***Split()***

In [59]:
name='My name is Dhairya'
name1=name.split()
print(name1)

['My', 'name', 'is', 'Dhairya']

In [75]:
name='My @name @is@ Dhairya'
name1=name.split('@')
name1=[x.strip() for x in name1]
print(name1)

['My', 'name', 'is', 'Dhairya']

***Capitalize()***

In [82]:
name='My name is Dhairya'
print(name.capitalize())

My name is dhairya

***centre()***

In [96]:
name='My name is Dhairya'
print(name.center(50))  
print(name.center(100,"-"))   #50 or 100 is the length of the string now

                My name is Dhairya
-----------------------------------------My name is Dhairya-----------------------------------------

***count()***

In [103]:
name='Rajashree'
name.count('a')

2

***find()***

In [112]:
name='Rajashree'
print(name.find('a'))
print(name.find('z'))

1
-1

***index()***

In [117]:
name.index('s')

4

In [127]:
#islower() and isupper()
name='Rajashree'
name1='rajashree'
print(name.islower())
print(name1.islower())

False
True

In [131]:
name='RAJASHREE'
name1='rajashree'
print(name.isupper())
print(name1.isupper())

True
False

In [141]:
#startswith()

str1='My name is Dhairya'
print(str1.startswith('My'))

True

***Sets***

In [152]:
name={'Raji','Dhairya','Vinay','Raji','Raji'}
print(name)

for x in name:
    print(x)

{'Dhairya', 'Vinay', 'Raji'}
Dhairya
Vinay
Raji

In [164]:
name={'Raji','Dhairya','Vinay','Raji','Raji'}
print(name)

name1=list(name)
name1.append('Chikku')
print(name1)

{'Dhairya', 'Vinay', 'Raji'}
['Dhairya', 'Vinay', 'Raji', 'Chikku']

### Union & update

In [184]:
city={'Delhi','Pune','Goa'}
city2={'Bangalore','UP','MP','Goa'}

city3=city.union(city2)
print(city3)

{'Delhi', 'MP', 'Pune', 'UP', 'Goa', 'Bangalore'}

### intersection & intersection_update

In [191]:
city={'Delhi','Pune','Goa'}
city2={'Bangalore','UP','MP','Goa'}

city3=city.intersection(city2)
city3

{'Goa'}

### symmetric_difference()

In [195]:
city={'Delhi','Pune','Goa'}
city2={'Bangalore','UP','MP','Goa'}

city3=city.symmetric_difference(city2)
city3

{'Bangalore', 'Delhi', 'MP', 'Pune', 'UP'}

### Set methods

In [198]:
# isdisjoint()

#this checks if items of given set are present on another set. Returns False if items are present else True

In [200]:
city={'Delhi','Pune','Goa'}
city2={'Bangalore','UP','MP','Goa'}

city.isdisjoint(city2)

False

### Enumerate

In [3]:
city=['Delhi','Pune','Goa']

for i in range(len(city)):
    print(i,city[i])

0 Delhi
1 Pune
2 Goa

In [5]:
for i in enumerate(city):
    print(i)

(0, 'Delhi')
(1, 'Pune')
(2, 'Goa')

In [7]:
#to unpack the items

for i,j in enumerate(city):
    print(i,j)

0 Delhi
1 Pune
2 Goa

In [20]:
city=['Delhi','Pune','Goa']

for i,j in enumerate(city):
    print(j)

Delhi
Pune
Goa

In [34]:
city={'Delhi','Pune','Goa'}
#city1=list(enumerate(city))

city1=enumerate(city)
list(city1)
#city2=enumerate(city1,2)

[(0, 'Delhi'), (1, 'Goa'), (2, 'Pune')]

### Working with Files

In [51]:
f=open("File_Handle_test.txt","r")
print(f.read())

Hello, this is test file.
Working fine.

In [105]:
f=open("File_Handle_test.txt","r")
print(f.readline())

Hello, this is test file.

In [107]:
f=open("File_Handle_test.txt","r")
print(f.readlines())

['Hello, this is test file.\n', 'Working fine.\n']

In [73]:
f=open("File_Handle_test.txt","r")
print(f.read())
f.close()

Hello, this is test file.
Working fine.

In [77]:
f=open("File_Handle_test.txt","r")
for i in f:             #possible to print specific line using for loop
    print(i)

Hello, this is test file.

Working fine.

In [121]:
f=open("File_Handle_test.txt","r")
#f=f.readlines()

for i,j in enumerate(f):         #possible to print specific line using for loop
    if i==1:
        print(j)
    else:
        None

#print(a)

Working fine.

In [127]:
f=open("File_Handle_test.txt","r")
f=f.readlines()

print(f[0])
print(f[1])

Hello, this is test file.

Working fine.

In [129]:
f=open("File_Handle_test.txt","r")
print(f.read())
f.close()

Hello, this is test file.
Working fine.

In [133]:
#Another way to open file
#Here it will get close automatically without defining close()

with open("File_Handle_test.txt","r") as f:
    print(f.read())

Hello, this is test file.
Working fine.

In [186]:
f=open("File_Handle_test.txt","a")
f.write("\nThis is second line.")
f.close()

In [188]:
f=open("File_Handle_test.txt","w")
f.write("Using write w mode")
f.close()

In [227]:
f=open("Createfile_mode.txt","a")
f.write("delete file")
f.close()

In [223]:
with open("test.txt","r") as f:
    pass

f.close()

In [2]:
import os

In [3]:
os.remove("Createfile_mode.txt")