In [2]:
print("ok")

ok

In [8]:
def pubg():
    """
    We can explain about the code or this function here
    This comment is called as string doc 
    """
    enemy=True
    if enemy==True:
        print("Shoot")
    else:
        print("Dont Shoot")

In [6]:
pubg()

Shoot

In [9]:
#to print the string doc from above function
print(pubg.__doc__)

    We can explain about the code or this function here
    This comment is called as string doc

In [11]:
def odd_even(num):
    if num%2 == 0:
        print("even")
    else:
        print("odd")

In [14]:
odd_even(11)

odd

In [28]:
#odd_even("hello") if I try to add string as parameter it will throw error, so to avoid the error, coder should handle the code in that way like -
 
def odd_even(num):

    if type(num)==int:
        if num%2 == 0:
            return "even"
        else:
            return "odd"
    else:
        return "Wrong input"

In [30]:
print(odd_even(4))
print(odd_even(3))
print(odd_even("hello"))

even
odd
Wrong input

## Types of Arguments
### 
1. Default Argument
2. Positional Argument
3. Keyword Argument

In [34]:
#default argument

def power(a=2,b=3):
    return a**b

In [35]:
power()

8

In [36]:
#positional argument

def power(a,b):
    return a**b

In [38]:
power(3,2)

9

In [40]:
#keyword argument

def power(a,b):
    return a**b

In [42]:
power(b=5,a=2)

32

In [44]:
power(a=2,b=5)

32

## args and kwargs

## args

In [45]:
def sums(a,b,c,d):
    return a+b+c+d

In [47]:
sums(1,2,3,4)

10

In [68]:
def sums(*args):
    result=0

    for i in args:
        result=result + i

    print(args)
    return result

In [70]:
sums(1,2,3,4,5,6,7,8,9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

45

In [72]:
def sums(*raji):
    result=0

    for i in raji:
        result=result + i

    print(raji)
    return result

In [74]:
sums(1,2,3,4,5,6,7,8,9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

45

## kwargs

In [81]:
def country_info(**kwargs):


    print(kwargs)

In [82]:
country_info(india='delhi',srilanka='colombo',nepal='kathmandu',pakistan='islamabad')

{'india': 'delhi', 'srilanka': 'colombo', 'nepal': 'kathmandu', 'pakistan': 'islamabad'}

In [84]:
def country_info(**kwargs):

    for (key,val) in kwargs.items():
        print(key,'==>',val)
    print(kwargs)

In [86]:
country_info(india='delhi',srilanka='colombo',nepal='kathmandu',pakistan='islamabad')

india ==> delhi
srilanka ==> colombo
nepal ==> kathmandu
pakistan ==> islamabad
{'india': 'delhi', 'srilanka': 'colombo', 'nepal': 'kathmandu', 'pakistan': 'islamabad'}

## Nested Function

In [88]:
def f():

    def g():
        print('inside function g')

    g()
    print('inside function f')

In [90]:
f()

inside function g
inside function f

In [92]:
g()

NameError: name 'g' is not defined

## Lambda Function

In [94]:
def sums(a,b):
    return a+b

In [95]:
sums(2,4)

6

In [97]:

lambda a,b: a+b

In [99]:

a=lambda a,b: a+b

In [101]:
print(a(2,3))

5

In [102]:

a=lambda a,b: a**b

In [103]:
a(2,3)

8

In [105]:
a=lambda s: 'a' in s
a('hella')

True

In [110]:
#odd & even function

a= lambda x: 'even' if x%2==0 else 'odd'
print(a(4))
print(a(5))

print((lambda x: 'even' if x%2==0 else 'odd')(4))

even
odd
even

## Higher Odder Function

In [3]:
  #ex from YT 

def my_map(my_fun,my_iter):
    result=[]
    for item in my_iter:
        new_item=my_fun(item)
        result.append(new_item)
    return(result)

lists=[2,3,4,5,6]

square=my_map(lambda x: x**2,lists)
cubed=my_map(lambda x: x**3,lists)
add1=my_map(lambda x: x+1,lists)

print(square)
print(cubed)
print(add1)

[4, 9, 16, 25, 36]
[8, 27, 64, 125, 216]
[3, 4, 5, 6, 7]

In [9]:
# function that accepts a function as argument
def loud(text):
    return text.upper()

def quite(text):
    return text.lower()

def hello(func):
    text=func('raji')
    print(text) 


hello(loud)  
hello(quite)

RAJI
raji

In [11]:
# function that returns a function

def divisor(x):
    def dividend(y):
        return y/x
    return dividend

divide=divisor(2)
print(divide(10))

5.0

In [19]:
def mysquare(x):
    return x**2

def calculate(fun):
    print(fun(2))

d=mysquare
calculate(d)

4